black==25.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
Deprecated==1.2.18
docspec==2.2.1
docspec-python==2.2.2
docstring_parser==0.11
docutils==0.21.2
emoji==2.14.1
id==1.5.0
idna==3.10
ipykernel==6.30.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
keyring==25.6.0
lazydocs==0.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.7.0
mypy_extensions==1.1.0
nh3==0.2.21
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pdoc==15.0.3
platformdirs==4.3.8
pydoc-markdown==4.8.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
seaborn==0.13.2
setuptools==80.7.1
shellingham==1.5.4
six==1.17.0
tomli==2.2.1
tomli_w==1.2.0
twine==6.1.0
typeapi==2.2.4
typer==0.15.4
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
wheel==0.45.1
wrapt==1.17.2
yapf==0.43.0
